{% 
  set event = {
      'title' : 'Conference &amp; Workshop on Julia'
    , 'when'  : '9 &amp; 10 September 2015'
    , 'poster': ''
    , 'ticket': '#'
    , 'funnel': '#'
    , 'videos': 'https://hasgeek.tv/julicon/'
    , 'blurb' : '<p><a href="http://julialang.org/" class="softred" target="_blank">Julia</a> is a high-level dynamic language which was invented out of the <a href="http://julialang.org/blog/2012/02/why-we-created-julia/" class="softred" target="_blank">greed to do more</a>. Unlike other high-level dynamic languages, Julia is really fast. It inherits design tenets from the Lisp, builds on the good parts of C, MATLAB, R, Python and Ruby to create a language that is performant and highly productive at the same time.</p><p>The JuliaCon India 2015 edition is over. For more updates, follows us on <a href="https://www.facebook.com/JuliaCon-India-877928148923050" target="_blank" class="softred">Facebook</a> and <a href="https://twitter.com/juliaconindia" target="_blank" class="softred">Twitter</a>.</p></p>'
    , 'desc'  : ''
  }
%}

