{%
  set talks = {
    '1': {
      'speaker'     : 'Jeff Bezanson' ,
      'designation' : 'Co-creator of <a href="http://julialang.org/" class="softred bold" target="_blank">Julia</a>' ,
      'photo'       : 'img/jeff-bezanson.jpg' ,
      'title'       : 'The Julia Language from the Future' ,
      'funnel'      : 'https://juliacon.talkfunnel.com/2015/'
    },
    '2-things-numerical-computing-languages-sweep-under-t':{
      'speaker'     : 'Stefan Karpinski',
      'designation' : 'Co-creator of <a href="http://julialang.org/" class="softred bold" target="_blank">Julia</a> &amp;<br> founding partner of <a href="http://juliacomputing.com" class="softred bold" target="_blank">JuliaComputing</a>',
      'photo'       : 'img/stefan-karpinski.jpg' ,
      'title'       : 'Things numerical computing languages used to be terrible at' ,
      'funnel'      : 'https://juliacon.talkfunnel.com/2015/2-things-numerical-computing-languages-sweep-under-t'
    },
    '3': {
      'speaker'     : 'Viral B Shah' ,
      'designation' : 'Co-creator of <a href="http://julialang.org/" class="softred bold" target="_blank">Julia</a> &amp;<br>  founding partner of <a href="http://juliacomputing.com" class="softred bold" target="_blank">JuliaComputing</a>',
      'photo'       : 'img/viral-shah.jpg'
    }
  }
%}  
{%
  set workshops = {
  }
%}  