{#
      {
        'id'    : 'platinum'
      , 'title' : 'Platinum'
      , 'size'  : 'xl'
    }
-#}
{%
  set types = [
    {
        'id'    : 'gold'
      , 'title' : 'Gold'
      , 'size'  : 'xl'
    }
    , {
        'id'    : 'silver'
      , 'title' : 'Silver'
      , 'size'  : 'l'
    }
    , {
        'id'    : 'bronze'
      , 'title' : 'Bronze'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'speaker-travel'
      , 'title' : 'Speaker Travel Support'
      , 'size'  : 's'
    }
    , {
        'id'    : 'partner'
      , 'title' : 'Partners'
      , 'size'  : 's'
    }
    , {
        'id'    : 'accommodation'
      , 'title' : 'Accommodation Partner'
      , 'size'  : 's'
    }
    , {
        'id'    : 'corporate'
      , 'title' : 'Corporate Tickets'
      , 'size'  : 'compact'
    }
    , {
        'id'    : 'community'
      , 'title' : 'Community Sponsors'
      , 'size'  : 's'
    }
    , {
        'id'    : 'startup-sponsor'
      , 'title' : 'Startup Sponsors'
      , 'size'  : 's'
    }
    , {
        'id'    : 'grant-sponsors'
      , 'title' : 'Grant Sponsors'
      , 'size'  : 's'
    },
    {
        'id'    : 'ecosystem-partners'
      , 'title' : 'Ecosystem Partners'
      , 'size'  : 's'
    }
  ]
%}
{# Logo Orientation can be either 'landscape' or 'portrait' #}
{%
  set items = [
    {
      'title'       : 'Ispirit'
      , 'id'          : 'Ispirit'
      , 'logo'        : 'https://images.hasgeek.com/embed/file/503da8634f3b470399220f91118efc10?size=640x480'
      , 'link'        : 'http://www.ispirt.in'
      , 'display'     : 'www.ispirt.in'
      , 'orientation' : 'portrait'
      , 'type'        : 'ecosystem-partners'
      , 'blurb'       : '<p>iSPIRT connects and guides software product entrepreneurs and catalyzes    business growth. It’s an enabler of a stronger ecosystem.</p><p>iSPIRT Foundation connects and guides software product entrepreneurs and catalyzes business growth. It’s an enabler of a stronger ecosystem. We are a not-for-profit industry think-tank founded by key participants of the Indian software product industry.</p><p>iSPIRT Foundation connects and guides software product entrepreneurs and catalyzes business growth. It’s an enabler of a stronger ecosystem. We encourage buyers to improve performance by leveraging software products effectively. We advise policy makers on interventions that can set the industry on a higher growth trajectory. We are a not-for-profit industry think-tank founded by key participants and proponents of the Indian software product industry.</p>'
    }
  ]
%}
