<section class="credits page-section clearfix{% if background %} fill-{{ background }}{% endif %}">
<div class="container">
  <div class="row">
    <h2 class="offset1 large space-two-bottom text-center">The Team</h2>
  </div>
  
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row-fluid">
        <div class="span10 regular">
          <p class="regular">Editorial Panel: Shashi Gowda, Viral B Shah and Zainab Bawa</p>
          <p class="regular">HasGeek Team: Anish TP, Hari C M, Jyothsna Vinod, Karthik Balakrishnan, Kiran Jonnalagadda, Shreyas Satish, Sindhu S, Vaman Kamath, Vidya Ramakrishnan and Zainab Bawa. </p>
          <p class="regular">Julia Computing Team: Abhijith Chandraprabhu, Harsha BM, Nishanth, Pradeep Mudlapur, Ranjan Anantharaman and Viral B Shah</p>
          <p class="regular">A special thanks to all the volunteers. Heena Deepak Vinchhi, Konarak, Pranav Thulasiram Bhat, Raghu Nandan Chilukuri, Rohit Thankachan and Shashi Gowda</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

