<section id="tickets" class="ticket push-two-top push-two-bottom {% if background %} fill-{{ background }}{% endif %}">
  <div class="container-fluid">
    <div class="row-fluid text-center">
      <h2 class="col-sm-12 col-xs-12 legible medium all-caps text-center nospace-top space-one-bottom prose-type">Ticket Details</h2>
      
      <div class="col-lg-4 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="box box2 space-one-bottom">
         <div class="box-front-side fill-lightblue show-side">
            <h3 class="all-caps regular bold prose-type">Conference</h3>
            <div class="divider-line"></div>
            <ul class="list-silent nopad regular clearboth">
              <li class="push-half-top">October 9</li>
              <p class="secondary-prose"><i class="fa fa-map-marker"></i>&nbsp;The Energy and Research Institute (TERI), Bangalore</p>
              <li class="large semibold push-half-top push-1q-bottom">Rs. 2000 <span class="tiny">
    Regular</span></li>
            </ul>
            <p class="secondary-prose">This ticket gives you entry only to JuliaCon India conference on 9th October. The ticket gives you access to food coupons, materials and participant kit.</p>
            <p><a href="#schedules" class="smooth-scroll softred secondary">View conference schedule</a></p>
            <!-- <p class="turn-right blue secondary">Read more...</p> -->
          </div>
          <div class="box-back-side fill-lightblue">
            <h3 class="regular semibold">Conference</h3>
            <p class="secondary-prose"><i class="fa fa-map-marker"></i>&nbsp;The Energy and Research Institute (TERI), Bangalore</p>
            <p class="secondary">Rs. 2000</p>
            <p class="secondary-prose">This ticket gives you entry only to JuliaCon India conference on 9th October. The ticket gives you access to food coupons, materials and participant kit.</p>
            <p><a href="https://juliacon.talkfunnel.com/2015/" target="_blank" class="softred secondary">View conference talks</a></p>
            <p class="turn-left"><i class="fa fa-undo blue secondary"> Back</i></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
       <div class="box box1 space-one-bottom">
          <div class="box-front-side fill-lightyellow show-side">
            <h3 class="all-caps regular bold prose-type">Workshop</h3>
            <div class="divider-line"></div>
            <ul class="list-silent nopad regular clearboth">
              <li class="push-half-top secondary">October 10 </li>
              <li class="push-half-top secondary-prose"><i class="fa fa-map-marker"></i>&nbsp; The Energy and Research Institute (TERI), Bangalore</li>
              <li class="large semibold push-half-top push-1q-bottom">Rs. 4000 <span class="tiny">
    Regular</span></li>
            </ul>
            <p class="secondary-prose">This ticket gives you entry only to JuliaCon India workshop on 10th October. The ticket gives you access to food coupons, materials and participant kit.</p>
            <p><a href="workshop" class="softred secondary">View workshop details</a></p>
            <!-- <p class="turn-right blue secondary">Read more...</p> -->
          </div>
          <div class="box-back-side fill-lightyellow">
            <h3 class="secondary semibold"> Workshop on October 10</h3>
            <p class="secondary">Rs. 4000</p>
            <p class="secondary-prose"><i class="fa fa-map-marker"></i>&nbsp;The Energy and Research Institute (TERI), Bangalore</p>
            <p class="secondary-prose">This ticket gives you entry only to JuliaCon India workshop on 10th October. The ticket gives you access to food coupons, materials and participant kit.</p>
            <p><a href="workshop" class="softred secondary">View workshop details</a></p>
            <p class="turn-left"><i class="fa fa-undo blue secondary"> Back</i></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="box box3 space-one-bottom">
          <div class="box-front-side fill-dark show-side">
            <h3 class="all-caps regular bold prose-type">Julia supporter pass</h3>
            <div class="divider-line"></div>
            <ul class="list-silent nopad regular clearboth">
              <li class="push-half-top">October 9 &amp; 10</li>
              <li class="secondary-prose"><i class="fa fa-map-marker"></i>&nbsp;The Energy and Research Institute (TERI), Bangalore</li>
              <li class="large semibold push-half-top push-1q-bottom">Rs. 10000</li>
            </ul>
            <p class="secondary-prose">This ticket gives you entry to JuliaCon India conference on 9th October and workshop on 10th October. We will add your name and company affiliation on <a href="#sponsors" class="softred smooth-scroll">JuliaCon India 2015 </a>website to acknowledge your contribution to this initiative. The ticket gives you access to food coupons, materials and participant kit. Should you have further queries, contact us on 080-67684422 or write to info@hasgeek.com</p>
            <!-- <p class="turn-right blue secondary">Read more...</p> -->
          </div>
          <div class="box-back-side fill-dark">
            <h3 class="regular bold">Conference Pass</h3>
            <p class="secondary">October 9 &amp; 10</p>
            <p class="secondary-prose"><i class="fa fa-map-marker"></i>&nbsp;MLR Convention Centre, JP Nagar, Bangalore</p>
            <p class="secondary">Rs. 10000</p>
            <p class="secondary-prose">This ticket gives you to entry only to JuliaCon India conference on 9th October and workshop on 10th October. We will add your name and company affiliation on <a href="#page" class="softred smooth-scroll">JuliaCon India 2015 </a>website to acknowledge your contribution to this initiative. The ticket gives you access to food coupons, materials and participant kit. Should you have further queries, contact us on 080-67684422 or write to info@hasgeek.com</p>
            <p class="turn-left"><i class="fa fa-undo blue secondary"> Back</i></p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 space-one">
        <a href="https://in.explara.com/e/juliacon-india-2015/checkout" class="space-one-top button-ghost-dark regular" title="JuliaCon India 2015 Tickets on Explara" target="_blank">Buy Tickets</a>
      </div>

      <div class="col-xs-12 space-two-top" id="request-form">
        <div class="text-center regular space-one-bottom">
          <p>If you need to <a href="https://docs.google.com/a/hasgeek.in/forms/d/1HwTmcgu6Zc8QxmPUmfsrx3lt_QClvHW0_YJAUX65KM8/viewform" class="expand-cancel-form button dark secondary-prose" data-target="#transferticket">transfer</a> or <a href="https://docs.google.com/a/hasgeek.in/forms/d/1HwTmcgu6Zc8QxmPUmfsrx3lt_QClvHW0_YJAUX65KM8/viewform" class="expand-cancel-form button dark secondary-prose" data-target="#cancelticket">cancel</a> your ticket, submit the details and we will process your request within 7 days.</p>
        </div>
        <form class="form-horizontal cancel-tickets nospace" id='transferticket' action="" role="form" autocomplete="off">
          <h4 class="text-center medium regular">Transfer ticket form</h4>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <input type="text" class="form-control secondary" id="order-no" name="order-no" required placeholder="Order No."/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <input type="text" class="form-control secondary" id="ticket-no" name="ticket-no" required placeholder="Ticket No."/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <input type="email" class="form-control secondary" id="ticket-email" name="ticket-email" required placeholder="Specify the email that you used to buy the ticket"/>
            </div>
          </div>
          <input type="hidden" value="Transfer" name="type" />
          <div class="form-group">
            <p class="secondary space-1q text-left col-md-9 col-md-offset-3 col-sm-10 col-sm-offset-2">Enter the details of the person the ticket is being transferred to</p>
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <input type="text" class="form-control secondary" id="transferee-name" name="transferee-name" required placeholder="Name"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <input type="email" class="form-control secondary" id="transferee-email" name="transferee-email" required placeholder="Email"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <input type="tel" class="form-control secondary" id="transferee-phone" name="transferee-phone" required placeholder="Phone"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-left ">
              <button type="submit" class="button secondary dark">Submit</button>
              <button class="button secondary dark close-form gap-half">Close</button>
              <img src="{{ theme_static('img/ajax-loader.gif') }}" class="submit-loader"/>
            </div>
          </div>
        </form>

        <form class="form-horizontal cancel-tickets nospace" id='cancelticket' action="" role="form" autocomplete="off">
          <h4 class="text-center medium regular">Cancel ticket form</h4>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <input type="text" class="form-control secondary" id="cancel-order-no" name="order-no" required placeholder="Order No."/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <input type="text" class="form-control secondary" id="cancel-ticket-no" name="ticket-no" required placeholder="Ticket No."/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <input type="email" class="form-control secondary" id="cancel-ticket-email" name="ticket-email" required placeholder="Specify the email that you used to buy the ticket"/>
            </div>
          </div>
          <input type="hidden" value="Cancel" name="type"/>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-left">
              <button type="submit" class="button secondary dark">Submit</button>
              <button class="button secondary dark close-form gap-half">Close</button>
              <img src="{{ theme_static('img/ajax-loader.gif') }}" class="submit-loader"/>
            </div>
          </div>
        </form> 

        <div class="secondary nospace text-left col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 help-text"><p class="cancelticket-status"></p></div>       
      </div>

    </div>
  </div>
</section>